@using Veiculos.Web.Models
@model VeiculoModel
@{
    ViewBag.Title = "IniciarCompra";
}

<h2>Iniciar compras</h2>
<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <section id="IniciarVendaForm">
                @using (Html.BeginForm("PesquisarVeiculo", "Comprar", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(v => v.Placa, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(v => v.Placa, "", new { @class = "text-danger" })
                            @*@Html.TextBoxFor(v => v.Placa, new { @class = "form-control" })*@

                            @Html.TextBox("placa", null, new { @class = "form-control", @name = "placa" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Pesquisar" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>