@using Veiculos.Web.Models
@model VeiculoModel

@{
    ViewBag.Title = "RegistroVenda";
}

<h2>RegistroVenda</h2>
<style>
    .well {
        background-color: white;
        margin-bottom:3px;
        
        
        padding:3px;
    }
    label {
        margin-bottom: 0px !important;
    }
    .right {
        text-align: right;
    }

    .left {
        text-align: left;
        padding-left: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-offset-1">
            <section id="RegistroVendaForm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Veículo
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row center-block">
                            <div class="col-sm-3 well well-sm right">@Html.LabelFor(m => m.Placa, new { @class = "" })</div>
                            <div class="col-sm-9 well well-sm left">@Html.Label("", Model.Placa, null)</div>

                            <div class="col-sm-3 well well-sm right">@Html.Label("Fabricante", null, new { @class = "" })</div>
                            <div class="col-sm-9 well well-sm left">@Html.Label("", Model.Modelo.Fabricante.Descricao, null)</div>

                            <div class="col-sm-3 well well-sm right">@Html.Label("Modelo", null, new { @class = "" })</div>
                            <div class="col-sm-9 well well-sm left">@Html.Label("", Model.Modelo.Descricao, null)</div>

                            <div class="col-sm-3 well well-sm right">@Html.LabelFor(m => m.Ano, new { @class = "" })</div>
                            <div class="col-sm-9 well well-sm left">@Html.Label("", Model.Ano.ToString(), null)</div>

                            <div class="col-sm-3 well well-sm right">@Html.LabelFor(m => m.Cilindradas, new { @class = "" })</div>
                            <div class="col-sm-9 well well-sm left">@Html.Label("", Model.Cilindradas.ToString(), null)</div>

                            <div class="col-sm-3 well well-sm right">@Html.LabelFor(m => m.Chassi, new { @class = "" })</div>
                            <div class="col-sm-9 well well-sm left">@Html.Label("", Model.Chassi, null)</div>


                        </div>
                        
                     </div>
                 </div>                
            </section>
        </div>
    </div>
</div>