@using Veiculos.Web.Models
@model VendaModel

@{
    ViewBag.Title = "Vender";
}

<style>
    .right {
        font-weight: normal !important;
    }

    .left {
        font-weight: bold !important;
        text-transform: uppercase;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-offset-1">
            <section id="IdVender">

                @Html.Partial("../Veiculo/Veiculo", Model.Veiculo)

                <div class="panel panel-default" style="margin-top:3% !important;">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Vender
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row center-block">
                            @using (Html.BeginForm("RegistrarVenda", "Vender", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "submitForm", autocomplete = "off" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Veiculo.Id)

                                <div class="form-group">
                                    <div class="col-sm-3 control-label" style="text-align:left;">
                                        @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "left" })
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger", })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3 control-label" style="text-align:left;">
                                        @Html.LabelFor(model => model.Desconto, htmlAttributes: new { @class = "left" })
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Desconto, new { htmlAttributes = new { @class = "form-control required numeric", @style = "text-align:right;" } })
                                        @Html.ValidationMessageFor(model => model.Desconto, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3 control-label" style="text-align:left;">
                                        @Html.LabelFor(model => model.Comissao, htmlAttributes: new { @class = "left" })
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Comissao, new { htmlAttributes = new { @class = "form-control required numeric", @style = "text-align:right;" } })
                                        @Html.ValidationMessageFor(model => model.Comissao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3 control-label" style="text-align:left;">
                                        @Html.Label("", "Observação", htmlAttributes: new { @class = "left" })
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.Obs, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Obs, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div id="FormaPagamento">

                                    <div class="panel panel-default" style="margin-top:3% !important;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Pagamento
                                            </h3>
                                        </div>

                                        <div class="panel-body">
                                            <div class="row center-block">

                                                <div class="form-group">
                                                    @Html.ValidationMessage("IdFormaPagamento", new { @class = "text-danger" })
                                                    <div class="col-sm-3 control-label" style="text-align:left;">
                                                        @Html.Label("", "Forma de pagamento", htmlAttributes: new { @class = "left" })
                                                    </div>
                                                    <div class="col-sm-9">
                                                        @Html.DropDownList("IdFormaPagamento", ViewBag.IdFormaPagamento as SelectList, htmlAttributes: new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <div id="IdVendaNormal" style="display:normal">
                                                        <div class="col-sm-3 control-label" style="text-align:left;">
                                                            @Html.Label("", "Valor", htmlAttributes: new { @class = "left" })
                                                        </div>
                                                        <div class="col-sm-9">
                                                            @Html.Editor("IdValor", new { htmlAttributes = new { @class = "form-control required numeric", @style = "text-align:right;" } })
                                                        </div>
                                                    </div>

                                                    <div id="IdVendaVeiculo" style="display:none">

                                                        <div class="col-sm-3 control-label" style="text-align:left;">
                                                            @Html.Label("Placa", null, new { @class = "left" })
                                                        </div>

                                                        <div class="col-sm-9 autocomplete">
                                                            @Html.TextBox("Placa", null, new { @class = "form-control", @name = "Placa" })
                                                            @Html.Hidden("ValorVeiculo")
                                                            @Html.Hidden("IdVeiculo")
                                                            @Html.Hidden("IdCompra")
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-3 col-sm-offset-3 control-label" style="text-align:left;">
                                                        <br />
                                                        <div id="btnAddPagamento" class="btn icon-btn btn-success" onclick="addRow();">
                                                            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
                                                            Adicionar
                                                        </div>
                                                    </div>
                                                    <br /><br /><br /><br />

                                                    <table class="table" id="IdTabelaFormaPagamento" style=" display:none;">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Forma de Pagamento</th>
                                                                <th scope="col">Valor</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbPagamentos">
                                                            @if (Model.Pagamentos != null)
                                                            {                                                                
                                                                foreach (var pag in Model.Pagamentos)
                                                                {
                                                                    <tr id="trPagamento@{@pag.Index}">
                                                                        <td scope="row">
                                                                            <input name="Pagamentos.Index" type="hidden" value="@pag.Index" />
                                                                            @pag.Index
                                                                        </td>
                                                                        <td>
                                                                            <input id="Pagamentos_@{@pag.Index}__IdFormaPagamento" name="Pagamentos[@pag.Index].IdFormaPagamento" type="hidden" value="@pag.IdFormaPagamento" />
                                                                            @pag.DescricaoFormaPagamento
                                                                        </td>
                                                                        <td>
                                                                            <input id="Pagamentos_@{@pag.Index}__Quantia" name="Pagamentos[@pag.Index].Quantia" type="hidden" value="@pag.Quantia" />
                                                                            <input id="Pagamentos_@{@pag.Index}__IdCompra" name="Pagamentos[@pag.Index].IdCompra" type="hidden" value="@pag.IdCompra" />
                                                                            @pag.Quantia
                                                                        </td>
                                                                        <td>
                                                                            <div id='btnAddPagamento' class='btn icon-btn btn-warning' onclick="removeRow(@pag.Index);">
                                                                                <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
                                                                                Remover
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="submit" value="Finalizar venda" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        tabelaVisivel();

        $("#Placa").autocomplete({
            source: function (request, response) {
                console.log(request.term);
                $.ajax({
                    url: "/Comprar/Placa",
                    type: "POST",
                    dataType: "json",
                    data: { placa: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log("Placa: " + item.Veiculo);
                             $("#IdVeiculo").val(item.Id);
                             $("#ValorVeiculo").val(item.Preco);
                             $("#IdCompra").val(item.IdCompra);
                            return {
                                label: item.Id + ' - ' + item.Veiculo,
                                value: item.Veiculo
                            };
                        }))

                    }
                })
            }
        });



        $("#IdFormaPagamento").change(function () {

            var idFormaPagamento = $("#IdFormaPagamento option:selected").val();

            if (idFormaPagamento == 4) {
                $("#IdVendaNormal").attr("style", "display:none");
                $("#IdVendaVeiculo").attr("style", "display:normal");
            }
            else {
                $("#IdVendaNormal").attr("style", "display:normal");
                $("#IdVendaVeiculo").attr("style", "display:none");
            }
        });

    });

        function addRow() {

            @{
                Model?.Pagamentos.Add(new PagamentoModel());
            }

            var index = $("#tbPagamentos").children("tr").length + 1;
            var idFormaPagamento = $("#IdFormaPagamento option:selected").val();
            var txtFormaPagamento = "";
            var valor = 0;
            var idCompra = 0;
            if (idFormaPagamento == 4) {
                txtFormaPagamento = $("#Placa").val();
                valor = $("#ValorVeiculo").val();
                idCompra = $("#IdCompra").val();
            }
            else {
                txtFormaPagamento = $("#IdFormaPagamento option:selected").text();
                valor = $("#IdValor").val();
            }

            if (valor == null || valor == '' || !$.isNumeric(valor) || parseFloat(String(valor)) <= 0) {

                return;
            }
            var indexCell = "<td scope='row'><input name='Pagamentos.Index' type='hidden' value='" + index + "' />" + index + "</td>";
            var formaPagamentoCell = "<td><input id='Pagamentos_" + index + "__IdFormaPagamento' name='Pagamentos[" + index + "].IdFormaPagamento' type='hidden' value='" + idFormaPagamento + "' />" + txtFormaPagamento + "</td>";
            var valorCell = "<td><input id='Pagamentos_" + index + "__Quantia' name='Pagamentos[" + index + "].Quantia' type='hidden' value='" + valor + "' /> <input id='Pagamentos_" + index + "__IdCompra' name='Pagamentos[" + index + "].IdCompra' type='hidden' value='" + idCompra + "' />" + valor + "</td>";
            var removeCell = "<td><div id='btnAddPagamento' class='btn icon-btn btn-warning' onclick='removeRow(" + index + ");'><span class='glyphicon btn-glyphicon glyphicon-minus img-circle text-warning'></span>Remover</div></td>";

            var newRow = "<tr id='trPagamento" + index + "'>" +
                indexCell + formaPagamentoCell + valorCell + removeCell + "</tr>";
            $("#tbPagamentos").append(newRow);
            limparFormaPagamento();
            tabelaVisivel();
        }

        function removeRow(id) {
            var controlToBeRemoved = "#trPagamento" + id;
            $(controlToBeRemoved).remove();
            tabelaVisivel();
    }

    function tabelaVisivel() {

        var index = $("#tbPagamentos").children("tr").length;
        if (index > 0) {
            $("#IdTabelaFormaPagamento").attr("style", "display:normal");
        } else {
            $("#IdTabelaFormaPagamento").attr("style", "display:none");
        }
    }

    function limparFormaPagamento() {
        $("#IdFormaPagamento").val("1");
        $("#Placa").val("");
        $("#ValorVeiculo").val("");
        $("#IdValor").val("");
    }
</script>